@model IEnumerable<DigitalMenu.Models.Item>

@{
    ViewBag.Title = "Index";
}


<div class="col-md-12">


    @using (Html.BeginForm("Index", "Items", FormMethod.Post))
    {<p>
         <div class="form-inline">
             <div class="form-group">
                 <label>Item Name:</label><br />
                 <input type="text" name="ItemName" value="" class="form-control mr-3" style="width:130px" />
                 @*@Html.TextBox("ItemName", null, null)*@
             </div>
             <div class="form-group">
                 <label>Categories:</label><br />
                 @{
                     List<SelectListItem> listCategories = ((System.Web.Mvc.SelectList)ViewBag.CategoryId).ToList();
                     listCategories.Insert(0, new SelectListItem() { Value = "-1", Text = "All" });

                 }
                 @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)listCategories, new { @class = "form-control" })

             </div>

             <div class="form-group">
                 <br />
                 <button type="submit" class="btn btn-default" name="btnSearch" style=" margin-bottom: -5px;">
                     <i class="glyphicon glyphicon-search"></i> Search
                 </button>
             </div>
             <div class="form-group" style="float:right;">
                 <br />
                 @Html.ActionLink("Create New Item", "Create", null, new { @class = "btn btn-primary" })
             </div>
         </div>


        </p>
    }
</div>


<div class="col-md-12">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                    <img src="~/Items/RetrieveImage/@item.ID" alt="" width="100" height="100" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    </div>
